@import "./styles/colors.scss";

body {
  color: $dark;

  .nav {
    background: $dark;
    margin-top: 0px;
    justify-content: start;
    position: fixed;
    height: 60px;
    width: 100%;
    text-transform: uppercase;

    a {
      color: $white;
      text-decoration: none;
      font-size: 20px;
      align-items: center;
      opacity: 1;

      &:hover {
        color: $white;
        opacity: 0.8;
      }
    }
  }

  .content {
    padding-top: 100px;

    .sorting {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      text-transform: uppercase;
      padding: 15px 0px 15px 0px;
      width: 150px;

      &__arrows {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        cursor: pointer;

        span {
          height: 15px;
          &:hover {
            color: $purple;
          }
          &.isActive {
            color: $purple;
          }
        }
      }
    }

    .fa-heart {
      color: $dark;

      &.favorite {
        color: $purple;
      }
    }

    .image {
      height: 300px;
      text-align: center;

      &--main {
        width: 300px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      margin: 30px 0px 10px;
      text-transform: uppercase;

      &__phone {
        min-height: 50px;
        div {
          min-width: 60px;
        }
      }
      a {
        color: $purple;
        text-decoration: none;

        &:hover {
          color: $purple;
        }
      }
    }

    .name {
      font-weight: bold;

      &__phones {
        color: $dark;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .buttonsContainer {
      display: flex;
      .circle {
        border-color: $purple;
        color: $purple;
        align-items: center;
        border: 1px solid $borderColor;
        border-radius: 28px;
        display: flex;
        height: 35px;
        min-width: 35px;
        justify-content: center;
        margin-right: 6px;
        padding-left: 0.5em;
        padding-right: 0.5em;

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          border: 1px solid $purple;
        }

        &.colors {
          cursor: initial;
          &:hover {
            border: 1px solid $borderColor;
          }
        }
      }
    }

    .networkContainer {
      min-height: 120px;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    button {
      background: none;
      border: none;
    }
  }
}
